/************ 左侧栏**********/

.nav-left li {
    list-style-type: none;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #CEDEEF;
    font-size: 12px;
    cursor:pointer;
}

.nav-left li:hover {
    background-color: #D8E5F4;
}

.active {
    font-weight: bold;
    background-color: #D8E5F4;
}



/*控制hover展开子元素的展开*/
.hover-unfold > ul{
    display:none;
    z-index: 9999;
    border:1px solid #000;
    position:absolute;
    top:14px;
    background-color:#FFFAE3;
}
.hover-unfold:hover > ul{
    display:inline-block;
}



/* ul li hover style */
.ul-hover-style > li {
    padding-right: 30px;
    list-style-type: none;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #CEDEEF;
    font-size: 12px;
    cursor:pointer;
}

.ul-hover-style > li:hover {
    background-color: #D8E5F4;
}

/*********************************登录的设置*****************/
.simulate-login .form-group:first-child {

    margin-left: 18px;
    margin-right: 18px;
}
.simulate-login .form-group {
    margin-top: 15px;
}

.simulate-login .btn-info {
    margin-left: 27%;
    margin-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
}

/****************************API 测试请求设置层*******************/
#request-config-layer {
    display:none;
    position:absolute;
    font-size: 14px;

    z-index:9999;
    left: -777px;
    top: -15px;
    width: 820px;
    height: 280px;

    white-space: nowrap;
    border:1px solid #000;
    background-color:#FFFAE3;


    padding-right: 20px;
    padding-left: 35px;
    padding-top: 15px;

}
#request-config:hover #request-config-layer{
    display:block;
}

#request-config-layer > .form-group:nth-child(1){
    background-color: silver;
}


/*****************浮动,工具*****************/
.api-float-tool{
    position:fixed;
    left:10%;
    top:70%;
}
/* md5  工具*/
.md5-tool{
    height:180px;
    width:280px;
    display:block;
}



