
/************ 左导航**********/

.nav-left {
    padding-left: 1px;
    border-top: 1px solid #CEDEEF;
    border-right: 1px solid #CEDEEF;
}

.nav-left li {
    padding-left: 15px;
    list-style-type:none;
    line-height: 33px;
    border-bottom: 1px solid #CEDEEF;
    font-size: 12px;
    cursor:pointer;
}

.nav-left li:hover{
    background-color:#D8E5F4;
}
.nav-left li.active{
    font-weight:bold;
    background-color:#D8E5F4;
}
/* 左导航选中后的箭头*/
.nav-left li.active b {
    top:9px;
    left:1px;
    position: relative;
    float:right;
    border-top: 8px solid transparent;
    border-right: 8px solid white;
    border-bottom: 8px solid transparent;
}


/* 正文 */
.head-title {
    background-color: #D6E3F1;
    border-top: 1px solid #6A9CC3;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 35px;
    padding-left: 8px;
    font-size: 14px;
}

/*列表*/
.api-list p {
    margin-bottom: 10px;
}
.api-list p:hover {
    background-color: #DEEEFE;
    cursor:pointer;
}
.api-list span.l {
    float: left;
    width:40%;
}
